In [1]:
! pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=bed63d8622a8a7027cdde7e0a47ce6c07ddb3176d91b61921b1db6e5a7559490
  Stored in directory: /root/.cache/pip/wheels/9f/34/a4/159aa12d0a510d5ff7c8f0220abbea42e5d81ecf588c4fd884
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [2]:
from pyspark import SparkContext, SparkConf

In [3]:
appName="lab10"
master="local[*]"

In [4]:
conf = SparkConf().setAppName(appName).setMaster(master)
sc = SparkContext(conf=conf)

In [5]:
fileRDD=sc.textFile("file.txt")
type(fileRDD)

pyspark.rdd.RDD

Task 1

In [6]:
errorRDD = fileRDD.filter(lambda x: "L" in x)
errorRDD.collect()

['L22-2100 DB D',
 'L21-1705 OS A',
 'L21-1705 OS A',
 'L22-2101 DB D',
 'L21-1601 SE F',
 'L21-1702 SE B',
 'L21-1705 DB A']

Task 2

In [ ]:
errorRDD = fileRDD.filter(lambda x: "L" in x)
errorRDD.count()

7

Task 3

In [ ]:
errorRDD = fileRDD.filter(lambda x:x[0][1:3]>='1995'or x[0][1:3]<='2023')
errorRDD.collect()

['L22-2100 DB D',
 'K21-1601 SE F',
 'I21-1601 OS F',
 'K21-1702 DS B',
 'L21-1705 OS A',
 'L21-1705 OS A',
 'L22-2101 DB D',
 'K21-1601 OS F',
 'L21-1601 SE F',
 'L21-1702 SE B',
 'L21-1705 DB A',
 'F20-1700 DB B',
 'F21-1500 SE C',
 'P22-2500 DS B',
 'P21-1900 OS B',
 'K18-1230 DB A']

Task 4

In [9]:
fileRDD = fileRDD.map(lambda x: x.split())
L=fileRDD.filter(lambda x:x[0][0]=='L')
K=fileRDD.filter(lambda x:x[0][0]=='K')
I=fileRDD.filter(lambda x:x[0][0]=='I')
P=fileRDD.filter(lambda x:x[0][0]=='P')
F=fileRDD.filter(lambda x:x[0][0]=='F')
print("Lahore", L.count())
print("Karachi", K.count())
print("Faislabad", F.count())
print("Peshawar", P.count())
print("Islamabad",I.count())

Lahore 7
Karachi 4
Faislabad 2
Peshawar 2
Islamabad 1

Task 5

In [11]:
LDB=L.filter(lambda x:x[1][0:2]=='DB'and x[2][0]=='F')
LOS=L.filter(lambda x:x[1][0:2]=='OS'and x[2][0]=='F')
LSE=L.filter(lambda x:x[1][0:2]=='SE'and x[2][0]=='F')

KDB=K.filter(lambda x:x[1][0:2]=='DB'and x[2][0]=='F')
KOS=K.filter(lambda x:x[1][0:2]=='OS'and x[2][0]=='F')
KSE=K.filter(lambda x:x[1][0:2]=='SE'and x[2][0]=='F')


IDB=I.filter(lambda x:x[1][0:2]=='DB'and x[2][0]=='F')
IOS=I.filter(lambda x:x[1][0:2]=='OS'and x[2][0]=='F')
ISE=I.filter(lambda x:x[1][0:2]=='SE'and x[2][0]=='F')

PDB=P.filter(lambda x:x[1][0:2]=='DB'and x[2][0]=='F')
POS=P.filter(lambda x:x[1][0:2]=='OS'and x[2][0]=='F')
PSE=P.filter(lambda x:x[1][0:2]=='SE'and x[2][0]=='F')

FDB=F.filter(lambda x:x[1][0:2]=='DB'and x[2][0]=='F')
FOS=F.filter(lambda x:x[1][0:2]=='OS'and x[2][0]=='F')
FSE=F.filter(lambda x:x[1][0:2]=='SE'and x[2][0]=='F')


print('Lahore')
print('DB',LDB.count())
print('OS',LOS.count())
print('SE',LSE.count())

print('karachi')
print('DB',KDB.count())
print('OS',KOS.count())
print('SE',KSE.count())


print('Islamabad')
print('DB',IDB.count())
print('OS',IOS.count())
print('SE',ISE.count())


print('Peshawar')
print('DB',PDB.count())
print('OS',POS.count())
print('SE',PSE.count())


print('Faislabad')
print('DB',FDB.count())
print('OS',FOS.count())
print('SE',FSE.count())

Lahore
DB 0
OS 0
SE 1
karachi
DB 0
OS 1
SE 1
Islamabad
DB 0
OS 1
SE 0
Peshawar
DB 0
OS 0
SE 0
Faislabad
DB 0
OS 0
SE 0

Task 6

In [ ]:
errorRDD=fileRDD.distinct()
errorRDD.collect()

['K21-1601 SE F',
 'K21-1702 DS B',
 'L22-2101 DB D',
 'L21-1601 SE F',
 'L21-1702 SE B',
 'L21-1705 DB A',
 'F21-1500 SE C',
 'K18-1230 DB A',
 'L22-2100 DB D',
 'I21-1601 OS F',
 'L21-1705 OS A',
 'K21-1601 OS F',
 'F20-1700 DB B',
 'P22-2500 DS B',
 'P21-1900 OS B']

Task 7

In [12]:
DB7=fileRDD.filter(lambda x:x[1][0:2]=='DB')
OS7=fileRDD.filter(lambda x:x[1][0:2]=='OS')
SE7=fileRDD.filter(lambda x:x[1][0:2]=='SE')

minDB7=DB7.filter(lambda x :x[2][0]=='F')
maxDB7=DB7.filter(lambda x :x[2][0]=='A')

minOS7=OS7.filter(lambda x :x[2][0]=='F')
maxOS7=OS7.filter(lambda x :x[2][0]=='A')

minSE7=SE7.filter(lambda x :x[2][0]=='F')
maxSE7=SE7.filter(lambda x :x[2][0]=='A')


print('Max and min in DB is:')
print(maxDB7.collect())
print(minDB7.collect())


print('Max and min in OS is:')
print(maxOS7.collect())
print(minOS7.collect())


print('Max and min in SE is:')
print(maxSE7.collect())
print(minSE7.collect())

Max and min in DB is:
[['L21-1705', 'DB', 'A'], ['K18-1230', 'DB', 'A']]
[]
Max and min in OS is:
[['L21-1705', 'OS', 'A'], ['L21-1705', 'OS', 'A']]
[['I21-1601', 'OS', 'F'], ['K21-1601', 'OS', 'F']]
Max and min in SE is:
[]
[['K21-1601', 'SE', 'F'], ['L21-1601', 'SE', 'F']]